body
	font-family: 'Quicksand', sans-serif
	background-color: #222
	color: white

.well
	background-color: rgba(80,80,80,0.3)
	border-color: transparent

.sito
	color: white

.autore
	color: rgb(237,100,100)

.tag
	color: rgb(100,204,237)


.data
	color: rgb(100,237,113)


.messaggio
	color: rgb(237,215,100)

.progress
	margin-top: 10px
	margin-bottom: 10px
	background-color: #333

.navbar-inverse
	background-color: #444

.sitoStyle
	background-color: rgba(103, 103, 103, 0.1)

.sitoStyle:hover
	background-color: rgba(139, 246, 236, 0.65)

.no-background
	padding-top: 70px

nav, .navbar-brand, .navbar-brand>a
	font-size: 25px
	font-weight: bold
	color: rgb(190,190,190)
	&:hover
		color: white

.buttons>a
	color: rgb(190,190,190)
	&:hover
		color: white
